:root {
	--white: #fff;
	--blue: rgb(3, 135, 162);
	--dark-blue: #0d4354;
	--black: #030305;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: all 0.3s ease;
	color: var(--white);

	&::before {
		box-sizing: inherit;
	}

	&::after {
		box-sizing: inherit;
	}
}

hr {
	height: 0;
	border: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-size: 16px;
	background: var(--black);
	font-family: 'Tulpen One', cursive;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
}

a {
	text-decoration: none;
}

p,
li,
table {
	font-family: var(--font-lato);
}

ul {
	list-style: none;
}

section {
	width: 100%;
}