.header {
	position: absolute;
	width: 100%;

	.headerInner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 1rem;
		height: 10vh;
	}

	.headerLogo {
		font-size: 3rem;
		font-family: var(--font-tulpen_One);
		margin-right: 2rem;

		@media (max-width: 896px) {
			display: block;
			color: var(--white);
		}
	}

	.pcNav {
		display: flex;
		position: relative;

		&.active {
			position: fixed;
			top: 0;
			right: 0;
			z-index: 5;
			background: rgba(0, 0, 0, .8);
			transition: all 0.3s ease;

			a {
				padding: 0.5rem 1rem;
				transition: all 0.3s ease;
			}
		}

		@media (max-width: 896px) {
			display: none;
		}

		a {
			display: block;
			text-transform: uppercase;
			padding: .5rem 1.4rem;
			font-size: 1.4rem;
			font-family: var(--font-tulpen_One);

			@media (max-width: 896px) {
				margin: 0 .3rem;
			}

			&:last-child {
				background: var(--dark-blue);
				color: var(--white);

				&:hover {
					background: #666;
					color: var(--white);
				}
			}

			&:hover {
				background: #666;
				color: var(--white);
			}
		}
	}

	.snsLink {
		position: fixed;
		bottom: 2rem;
		right: 1rem;
		z-index: 999;

		li {
			margin-top: 1rem;
			text-align: center;
		}

		i {
			font-size: 1.3rem;
		}
	}
}

.topVisual {
	width: 100%;
	min-height: 100vh;
	display: flex;

	@media (max-width: 896px) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.topLeft {
	width: 44%;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@media (max-width: 896px) {
		width: 100%;
	}

	.topLeftInner {
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 0;

		@media (max-width: 896px) {
			justify-content: flex-end;
		}
	}

	.logo {
		font-size: 8rem;
		font-family: var(--font-tulpen_One);
		color: var(--white);

		@media (max-width: 1200px) {
			font-size: 5rem;
		}
	}

	p {
		margin-top: 2rem;
		text-align: center;

		@media (max-width: 896px) {
			display: none;
		}
	}
}

.topRight {
	width: 56%;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;

	@media (max-width: 896px) {
		width: 100%;
	}

	img {
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
}


.jsNavToggle {
	display: block;
	position: fixed;
	right: 0;
	width: 65px;
	height: 65px;
	cursor: pointer;
	z-index: 9999;
	padding: 1rem;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	border-radius: 50%;
	display: none;

	@media (max-width: 896px) {
		display: block;
	}

	div {
		position: relative;
	}

	span {
		width: 100%;
		height: 1px;
		left: 0;
		display: block;
		background: var(--white);
		position: absolute;
		-webkit-transition: top 0.5s ease, -webkit-transform 0.6s ease-in-out;
		transition: top 0.5s ease, -webkit-transform 0.6s ease-in-out;
		transition: transform 0.6s ease-in-out, top 0.5s ease;
		transition: transform 0.6s ease-in-out, top 0.5s ease, -webkit-transform 0.6s ease-in-out;

		&:nth-child(1) {
			top: 5px;
		}

		&:nth-child(2) {
			top: 15px;
			width: 85%;
		}

		&:nth-child(3) {
			top: 25px;
			width: 70%;
		}

		&:hover {
			span {
				&:nth-child(1) {
					width: 1px;
					-webkit-transition: 0.3s;
					transition: 0.3s;
					width: 70%;
				}

				&:nth-child(2) {
					width: 1px;
					-webkit-transition: 0.3s;
					transition: 0.3s;
					width: 85%;
				}

				&:nth-child(3) {
					width: 1px;
					-webkit-transition: 0.3s;
					transition: 0.3s;
					width: 100%;
				}
			}
		}
	}
}

.jsSpNav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease, visibility 0.4s ease;
	transition: opacity 0.4s ease, visibility 0.4s ease;

	@media (max-width: 639px) {
		padding: 3vh 1rem;
	}

	&::before {
		position: absolute;
		content: "";
		width: 110%;
		height: 0%;
		top: -100%;
		right: -3%;
		background-color: rgba(0, 0, 0, .9);
		border-radius: 50%;
		z-index: -1;
		opacity: 1;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	.spNavInner {
		width: 100%;
		margin: 0 auto;
		height: 100%;
		padding: 100px 50px;
		position: relative;
		z-index: 1;
		opacity: 0;

		@media (max-width: 896px) {
			width: 100%;
		}

		@media (max-width: 639px) {
			padding: 40px 20px;
		}
	}

	.spNavLinks {
		position: absolute;
		width: 80%;
		top: 50%;
		left: 50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
		padding: 100px 0;

		@media (max-width: 896px) {
			width: 100%;
			padding: 100px 50px;
		}

		@media (max-width: 639px) {
			padding: 50px 0;
		}

		.logo {
			text-align: center;
			font-family: var(--font-tulpen_One);
			font-size: 3rem;
			margin-bottom: 2rem;

			a {
				color: var(--white);
			}
		}

		.spNav {
			display: flex;
			align-items: center;
			justify-content: center;

			@media (max-width: 639px) {
				flex-direction: column;
			}

			a {
				font-size: 2rem;
				margin: 0 .8rem;
				font-family: var(--font-tulpen_One);
				color: var(--white);

				@media (max-width: 639px) {
					margin-bottom: 2rem;
				}
			}
		}
	}
}

@-webkit-keyframes nav-anime {
	0% {
		height: 0;
	}

	100% {
		height: 300%;
	}
}

@keyframes nav-anime {
	0% {
		height: 0;
	}

	100% {
		height: 300%;
	}
}

@-webkit-keyframes nav-anime-opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes nav-anime-opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.open {
	overflow: hidden;

	.jsNavToggle {
		span {
			-webkit-transition: 0.4s;
			transition: 0.4s;

			&:nth-child(1) {
				top: 10px;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}

			&:nth-child(2) {
				display: none;
			}

			&:nth-child(3) {
				top: 10px;
				width: 100%;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}
		}

		&:hover {
			span {
				-webkit-transition: 0.4s;
				transition: 0.4s;

				&:nth-child(1) {
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					-webkit-transition: 0.4s;
					transition: 0.4s;
					width: 100%;
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					width: 100%;
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
					-webkit-transition: 0.4s;
					transition: 0.4s;
				}
			}
		}
	}

	.jsSpNav {
		visibility: visible;
		opacity: 1;
		z-index: 990;

		&:before {
			-webkit-animation: nav-anime 1.4s ease 0s forwards;
			animation: nav-anime 1.4s ease 0s forwards;
		}

		.spNavInner {
			-webkit-animation: nav-anime-opacity 0.6s ease 0.4s forwards;
			animation: nav-anime-opacity 0.6s ease 0.4s forwards;
		}
	}
}

.linkBtn {
	color: var(--white);
	background: var(--blue);
	padding: .5rem 1rem;
	font-size: 1.2rem;
	font-family: var(--font-tulpen_One);
	border: 1px solid var(--blue);

	&:hover {
		background: transparent;
		color: var(--blue);
		border: 1px solid var(--blue);
		transition: all 0.3s ease;
	}
}

.contentsBox {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
	opacity: 0;

	@media (max-width: 639px) {
		flex-direction: column;
	}

	.contentsItem {
		width: 50%;
		height: 50vh;
		position: relative;
		z-index: 0;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 639px) {
			width: 100%;
			height: auto;
			margin-bottom: 1rem;
		}

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: "";
			background: rgba(0, 0, 0, .8);
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		&:hover {
			&::before {
				transition: all 0.3s ease;
				background: rgba(0, 0, 0, .5);
			}
		}

		&:nth-child(1) {
			background-image: url(/1.webp);
		}

		&:nth-child(2) {
			background-image: url(/2.webp);
		}

		&:nth-child(3) {
			background-image: url(/3.webp);
		}

		&:nth-child(4) {
			background-image: url(/4.webp);
		}

		.contentsItemInner {
			position: relative;
			padding: 2rem;
			z-index: 2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 600px;
			margin: 0 auto;
		}

		h2 {
			margin-bottom: 2rem;
			font-size: 3rem;
			font-family: var(--font-tulpen_One);

			@media (max-width: 639px) {
				font-size: 2.5rem;
			}
		}

		p {
			margin-bottom: 2rem;
			font-size: 1.1rem;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: .8rem;
	padding: .8rem;
	color: var(--white);
}

.tblTitle {
	font-family: var(--font-tulpen_One);
	font-size: 2rem;
	margin-bottom: 2rem;
	text-align: center;

	&.opTitle {
		margin-top: 3rem;
	}
}

.services {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;

	@media (max-width: 896px) {
		flex-direction: column;
	}

	li {
		width: 50%;
		padding: 1rem 2%;

		@media (max-width: 896px) {
			width: 100%;
			padding: 1rem 0;
		}
	}
}

.tbl {
	width: 100%;
	border-spacing: .5rem;
	margin-bottom: 1.5rem;
	max-width: 800px;

	@media (max-width: 896px) {
		border-collapse: collapse;
	}

	th,
	td {
		font-size: 1rem;

		@media (max-width: 896px) {
			width: 50%;
		}
	}

	th {
		padding: 1rem 0;
		width: 35%;
		text-align: center;
		font-weight: normal;
		background: #036478;
	}

	td {
		padding: 1rem 0 1rem 2%;
		vertical-align: middle;
		width: 65%;
	}
}

.tbl2 {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto 1.5rem;
	max-width: 800px;

	th,
	td {
		border-top: 1px solid var(--white);
		border-bottom: 1px solid var(--white);
		font-size: 1rem;

		@media (max-width: 896px) {
			width: 50%;
		}
	}

	th {
		padding: 1rem 0;
		width: 35%;
		text-align: center;
		font-weight: normal;
		border-right: 1px solid #ddd;
	}

	td {
		padding: 1rem 0 1rem 2%;
		vertical-align: middle;
		width: 65%;
	}
}

.pageNav {
	padding: 30px 0;
	width: 100%;

	.pageNavList {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 70%;
		margin: 0 auto;
		max-width: 700px;

		@media all and (max-width: 1367px) {
			width: 90%;
		}

		li {
			width: 28%;
			margin: 0 2% 20px;
			position: relative;
			border: 1px solid var(--blue);
			-webkit-transition: 0.4s;
			transition: 0.4s;

			@media all and (max-width: 1367px) {
				width: 31%;
				margin: 0 1% 20px;
			}

			&::before {
				position: absolute;
				content: "";
				width: 20px;
				height: 20px;
				left: 0;
				right: 0;
				margin: 0 auto;
				bottom: -20px;
				border-top: 15px solid var(--blue);
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
			}

			a {
				display: block;
				text-align: center;
				padding: 10px 20px;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				font-weight: 300;
				background-color: var(--blue);
				font-family: var(--font-tulpen_One);
				font-size: 1.3rem;
				color: var(--white);

				&:hover {
					-webkit-transition: 0.4s;
					transition: 0.4s;
					background-color: var(--black);
					color: var(--blue);
				}
			}
		}
	}
}

.about {
	position: relative;
	margin: 2.5rem auto;
	width: 80%;
	border: 1px solid var(--dark-blue);
	padding: 1rem;

	@media (max-width: 896px) {
		width: 90%;
	}

	@media (min-width: 1200px) {
		width: 60%;
	}

	.aboutInner {
		margin: 0 auto;
		padding: 3rem 1rem;
		width: 100%;
		text-align: center;

		h3 {
			text-align: center;
			margin-bottom: 2rem;
			font-size: 2rem;
			font-family: var(--font-tulpen_One);
		}

		.aboutFlex {
			display: flex;
			justify-content: space-between;

			@media (max-width: 896px) {
				flex-direction: column;
			}
		}

		.visionSection {
			flex-direction: row-reverse;

			@media (max-width: 896px) {
				flex-direction: column;
			}
		}

		img {
			width: 30%;
			height: auto;
			object-fit: cover;

			@media (max-width: 896px) {
				width: 100%;
				order: 1;
			}
		}

		p {
			width: 68%;
			text-align: left;
			line-height: 1.5;
			font-size: 1.1;

			@media (max-width: 896px) {
				width: 100%;
				margin-top: 1rem;
				order: 2;
			}
		}
	}
}

.form {
	margin: 0 auto;
	width: 70%;

	@media (max-width: 896px) {
		width: 100%;
	}

	dt {
		float: left;
		width: 14rem;
		padding-top: 1.5rem;
		font-weight: 600;
		font-size: 2rem;
		font-family: var(--font-tulpen_One);

		@media (max-width: 896px) {
			float: none;
			width: 100%;
			padding-top: 1.2rem;
		}
	}

	dd {
		padding-left: 14rem;
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
		line-height: 1.5;
		border-bottom: 1px dotted #6b6b6b;

		@media (max-width: 896px) {
			width: 100%;
			padding-left: 0;
			border: none;
			padding-top: 1rem;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.textarea {
		border: 0;
		padding: 1rem .6rem;
		width: 100%;
		border-radius: 0;
		appearance: none;
		-webkit-appearance: none;
		background: #393939;
		outline: none;
	}

	textarea {
		min-height: 10rem;
	}

	button {
		cursor: pointer;
		display: block;
		color: var(--white);
		text-align: center;
		border: 1px solid var(--blue);
		padding: .8rem .25rem;
		margin: 1rem auto 0;
		width: 12.5rem;
		background: var(--blue);
		font-family: var(--font-tulpen_One);
		font-size: 1.3rem;

		&:hover {
			border: 1px solid var(--blue);
			background: transparent;
			color: var(--blue);
			transition: all 0.3s ease;
		}
	}
}

.flexBlog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 80%;
	margin: 0 auto;

	@media (max-width: 639px) {
		flex-direction: column;
		max-width: 100%;
	}

	li {
		width: 30%;
		margin-bottom: 1.5rem;

		@media (max-width: 896px) {
			width: 48%;
		}

		@media (max-width: 639px) {
			width: 100%;
		}

		a {
			display: block;
			transition: all 0.3s ease;

			&:hover {
				opacity: .8;
				transition: all 0.3s ease;
			}
		}

		.date {
			position: absolute;
			bottom: 0;
			left: 0;
			background: var(--dark-blue);
			padding: .4rem .6rem;
			font-size: .8rem;
		}

		.imgWrapper {
			display: flex;
			flex: 1 1 100%;
			height: 100%;
			overflow: hidden;
			position: relative;

			&::before {
				bottom: 0;
				content: '';
				height: 100%;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 1;
			}
		}

		img {
			width: 100%;
			max-height: 500px;
			object-fit: cover;
			flex: 1 0 100%;
			height: 100%;
			max-width: 100%;
			object-fit: cover;
			position: relative;
		}

		p {
			margin-top: .5rem;
		}
	}
}

.blogDetail {
	max-width: 800px;
	margin: 5rem auto 0;

	hr {
		height: 40px;
		background: repeating-linear-gradient(-45deg, var(--dark-blue), var(--dark-blue) 1px, var(--black) 0px, var(--black) 29px);
		border: none;
		margin: 40px 0px 50px;
	}

	.blogContent {
		background: var(--dark-blue);
		padding: 2rem;

		@media (max-width: 693px) {
			padding: 2rem 1rem;
		}
	}

	h1 {
		margin-bottom: 2rem;
		font-size: 1.5rem;
		font-family: var(--font-lato);

		@media (max-width: 693px) {
			font-size: 1.3rem;
		}
	}

	.date {
		margin-bottom: 1rem;
		font-family: var(--font-lato);
	}

	img {
		width: 100%;
		max-height: 400px;
		object-fit: cover;
		margin-bottom: 1rem;
	}

	p {
		margin-top: 1rem;
		font-size: 1.1rem;
	}
}

.qaList {
	width: 60%;
	margin: 0 auto;
	font-family: var(--font-lato);

	@media (max-width: 896px) {
		width: 100%;
	}

	dl {
		position: relative;
		margin: 2rem 0 0;
		cursor: pointer;
		border: 1px solid var(--blue);

		@media (max-width: 896px) {
			margin: 2rem 0 0;
		}

		&:first-child {
			margin-top: 0;
		}

		&::after {
			@media (max-width: 896px) {
				top: 1rem;
				right: 1rem;
				width: .3rem;
				height: .3rem;
			}
		}

		dt {
			position: relative;
			padding: 1rem 1.5rem 1rem 3rem;
			background: var(--blue);
			font-size: 1rem;
			-webkit-transition: all 0.2s ease-in-out 0s;
			transition: all 0.2s ease-in-out 0s;

			&::before {
				font-size: 1.3rem;
				line-height: 1;
				position: absolute;
				top: 1.1rem;
				left: 1rem;
				display: block;
				content: "Q.";
				color: var(--white);
				font-weight: bold;
				font-family: var(--font-tulpen_One);
			}

			&::after {
				position: absolute;
				top: 48%;
				right: 1.2rem;
				display: block;
				width: .3rem;
				height: .3rem;
				margin: auto;
				content: "";
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
				border-top: 2px solid var(--white);
				border-right: 2px solid var(--white);
			}

			&.open {
				&::after {
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
		}

		dd {
			position: relative;
			margin: 0;
			padding: 1rem 1.5rem 1rem 3rem;

			&::before {
				font-size: 1.3rem;
				line-height: 1;
				position: absolute;
				left: 1rem;
				display: block;
				content: "A.";
				font-weight: bold;
				color: #52adc9;
				font-family: var(--font-tulpen_One);

				@media (max-width: 896px) {
					margin-top: .25rem;
				}
			}
		}
	}
}

.slideVisual {
	width: 100%;
	margin-top: 20px;

	.slideVisualInner {
		overflow: hidden;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;

		&::after {
			position: absolute;
			display: block;
			content: "";
			width: 100%;
			height: 100%;
			background: #004f70d1;
			z-index: 2;
		}

		.fadeImageContainer {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;

			.fadeImage {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: opacity 1s ease-in-out;

				&.fadeImageVisible {
					opacity: 1;
				}

				img {
					width: 100%;
					max-width: 100%;
					max-height: 100%;
					align-self: center;
					object-fit: cover;
				}
			}
		}

		.slideText {
			position: absolute;
			z-index: 3;
			font-size: 8rem;
			text-align: center;
			font-family: var(--font-tulpen_One);
			color: var(--white);
			opacity: 0;

			@media (max-width: 896px) {
				font-size: 3.5rem;
			}
		}

		.spBr {
			display: none;

			@media (max-width: 639px) {
				display: block;
			}
		}
	}
}

.contact {
	opacity: 0;

	h2 {
		text-align: center;
		font-family: var(--font-tulpen_One);
		font-size: 4rem;
		margin-top: 5rem;
	}
}

.containerInner {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;

	@media (max-width: 896px) {
		padding: 0rem;
	}
}

.videoContainer {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		object-fit: cover;
	}

	.videoText {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: var(--white);
		z-index: 2;
		font-family: var(--font-tulpen_One);
		font-size: 8rem;
		width: 100%;
		opacity: 0;

		@media (max-width: 896px) {
			font-size: 3.5rem;
		}
	}
}

.videoContainer {
	&.active {

		.leftDiv,
		.rightDiv {
			width: 0;
		}
	}
}

.linkText {
	font-family: var(--font-tulpen_One);
	font-size: 1.3rem;

	&:hover {
		opacity: .8;
	}
}

.underInner {
	width: 100%;
	height: 300px;
	background: url(/2.webp);
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	margin-top: 3rem;
	position: relative;
	z-index: 1;

	&::after {
		content: "";
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		background: rgb(0 0 0 / 57%);
		position: absolute;
		z-index: 2;
	}

	h2 {
		color: var(--white);
		text-shadow: rgba(0, 0, 0, .2) 2px 2px 4px;
		line-height: 1;
		margin-bottom: 0;
		font-size: 3rem;
		font-family: var(--font-tulpen_One);
		z-index: 3;
		position: absolute;
	}
}

.underRead {
	margin: 3rem 0;
	text-align: center;
}