.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

.nav {
    display: flex;
    a {
        padding: 10px;
        display: block;
    }
}