.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

.nav {
    display: flex;
    a {
        padding: 10px;
        display: block;
        text-transform: uppercase;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}