* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all .3s;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 16px;
}
  
a {
    text-decoration: none;
}

ul {
    list-style: none;
}